ALL_CONTAINERS=(postgresql nginx gitolite redmine maintenance)
TOTAL_CPUS=1
HOST_MOUNTPOINT_FOR_CONTAINER_VOLUMES="/home/$(whoami)/volumes-docker-containers/"
PUMA_HOST=$(ip -o -f inet addr show docker0 | awk '{print $4}' | cut -d'/' -f 1)
GITOLITE_HOST=$(ip -o -f inet addr show docker0 | awk '{print $4}' | cut -d'/' -f 1)
POSTGRESQL_HOST=$(ip -o -f inet addr show docker0 | awk '{print $4}' | cut -d'/' -f 1)
FROM_DOCKERFILE_TAG=":1.0"
REGISTRY="bikeemotion/"
IMAGE_TAG=":1.0"
PUMA_RAILS_MAX_THREADS="10"
POSTGRESQL_USER="redmine"
POSTGRESQL_DATABASE="redmine_production"
POSTGRESQL_NODE_TYPE="master"
POSTGRESQL_REPLICATION_ENABLED="false"
POSTGRESQL_PASSWORD="WhoWillGuessThisP@ssword?"
SENDGRID_USER=""
SENDGRID_PASSWORD=""
DNS_DOMAIN="bikeemotion.local"
RAM_POSTGRESQL=256
RAM_GITOLITE=256
RAM_NGINX=32
RAM_REDMINE=1472
RAM_MAINTENANCE=32
