production:
  adapter: postgresql
  database: ${POSTGRESQL_DATABASE}
  host: ${POSTGRESQL_HOST}
  username: ${POSTGRESQL_USER}
  password: ${POSTGRESQL_PASSWORD}
  pool: ${PUMA_RAILS_MAX_THREADS}
  encoding: utf8
